@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0; 
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
main{
    flex: 1;
}
.container{
    width: 1029px;
}

/*Header*/
header{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
}
.logo{
    font-size: 24px;
    font-weight: 600;
}
ul{
    display: flex;
    gap: 25px;

}
li {
    list-style: none;
}
a{
    color: #C5C9CF;
    text-decoration: none;
    font-size: 18px;
    text-transform:lowercase;
}
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
}




